@import url('https://fonts.google.com/specimen/Germania+One');

#header1, #header2 {
	background-color: black;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
#header1 {
	text-align: center;
	color: white;
	font-family: "Verdana", sans-serif;
}

#header2 {
	text-align: center;
	color: white;
	font-family: 'Germania One', cursive;
}
#body {
	font-family: "Verdana", "Times New Roman", serif;
}
#image1 {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25%;
}

#image1:hover {
	border-radius: 0%;
}

#interests {
	flex-basis: 25%;
	border: 3px solid black;
	box-sizing: border-box;
	text-align: center;
	margin: 20px;
	
}

a:hover {
	background-color: #AFAFB8;
}
a {
	text-decoration: none;
	color: white;
}
#skills {
	flex-basis: 25%;
	border: 3px solid black;
	box-sizing: border-box;
	text-align: center;
	margin: 20px;
}

.container {
	width: 60%;
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;	
	background-color: grey;
	box-sizing: border-box;
}
.boxContainer {
	display: flex;
	justify-content: center;
}

#footer {
	text-align: center;
	color: white;
	background-color: black;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.navBar {
	display: flex;
	flex-direction: row;
	background-color: black;
	color: white;
	
}
.navContainer {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.quarter {
	flex-basis: 25%;
}
.center {
	text-align: center;
}
