div {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.lightBlue {
	background-color: #27F5FB;
	float: left;
}

.green {
	background-color: green;
}

#topGreen {
	background-color: green;
	float: left;
}

.yellow {
	background-color: yellow;
	float: left;
}

.purpleTop {
	background-color: purple;
	float: left;
}

#topBlack {
	background-color: black;
	float: left;
}

#container {
	width: 1020px;
}

.darkBlueTop {
	background-color: #160FEA;
	float: left;
}

#orangeTop {
	background-color: orange;
	float: left;
}

#middleBlack1 {
	background-color: black;
	float: left;
}

.greenMiddle {
	background-color: green;
	float: left;
}

.redMiddle {
	background-color: red;
	float: left;
}

#purpleMiddle {
	background-color: purple;
	float: left;
}

#middleBlack2 {
	background-color: black;
	float: left;
}

.bottomDarkBlue {
	background-color: #160FEA;
	float: left;
}

.orangeBottom {
	background-color: orange;
	float: left;
}

#greenBottom {
	background-color: green;
	float: left;
}

#blackBottom {
	background-color: black;
	float: left;
}

.bottomRed {
	background-color: red;
	float: left;
}

#bottomOrange {
	background-color: orange;
	float: left;
}