@charset "ISO-8859-1";
#header1 {
	width: 70%;
	background-color: black;
	color: white;
	text-align: center;
	margin: auto;
}

#container {
	display: flex;
	width: 70%;
	margin: auto;
	justify-content: space-between;
}

#info1 {
	display:flex;
	border: solid black 3px;
	order: 0;
	flex-flow: row;
	padding: 10px;
}

#info2 {
	display:flex;
	border: solid black 3px;
	flex-flow: row;
}

#contactInfo {
	text-align: center;
}

#yourContactInfo {
	text-align: center;
}
.active {
	background-color: #585861;
}
a:hover {
	background-color: #AFAFB8;
}
a {
	text-decoration: none;
	color: white;
}
.navBar {
	display: flex;
	flex-direction: row;
	background-color: black;
	
}
.navContainer {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.quarter {
	flex-basis: 25%;
}
.center {
	text-align: center;
}